# dependencies  npm包文件
*/node_modules/

# production  打包文件
*/build/

# misc 
.DS_Store

npm-debug.log*

*.pyc
*/__pycache__/
typingPage/admin.py
typingPage/models.py
typingPage/views.py
typingPage/__pycache__/__init__.cpython-37.pyc
typingPage/__pycache__/admin.cpython-37.pyc
typingPage/__pycache__/apps.cpython-37.pyc
typingPage/__pycache__/models.cpython-37.pyc
typingPage/__pycache__/urls.cpython-37.pyc
typingPage/__pycache__/views.cpython-37.pyc
typingPage/migrations/0012_testresult_score.py
typingPage/migrations/0013_practiceresult_score.py
typingPage/migrations/0014_auto_20201109_1357.py
typingPage/migrations/0015_auto_20201109_1645.py
typingPage/migrations/__pycache__/__init__.cpython-37.pyc
typingPage/migrations/__pycache__/0001_initial.cpython-37.pyc
typingPage/migrations/__pycache__/0002_auto_20190726_2058.cpython-37.pyc
typingPage/migrations/__pycache__/0003_auto_20190726_2133.cpython-37.pyc
typingPage/migrations/__pycache__/0004_test_testtotaltime.cpython-37.pyc
typingPage/migrations/__pycache__/0005_auto_20190729_2111.cpython-37.pyc
typingPage/migrations/__pycache__/0006_remove_testresult_completionrate.cpython-37.pyc
typingPage/migrations/__pycache__/0007_auto_20190731_1035.cpython-37.pyc
typingPage/migrations/__pycache__/0008_auto_20191117_1657.cpython-37.pyc
typingPage/migrations/__pycache__/0009_auto_20191117_1748.cpython-37.pyc
typingPage/migrations/__pycache__/0010_article_isvisible.cpython-37.pyc
typingPage/migrations/__pycache__/0011_auto_20191118_1824.cpython-37.pyc
